/* src/Signup.css */
.signup-container {
    width: 300px;
    margin: auto;
    margin-top: 10%;
    background-color: #fff;
    border-radius: 5px;
    padding: 1.5%;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    margin-bottom: 8px;
  }
  
  .form-input {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  .signup-button {
    background-color: #aba03a;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
  